<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body class="bck-img">
    
    <%- include('../partials/header'); %>

    <main>

        <section class="blur">

            <article class="container home" id="front-page">

                <h2 class="title py-5 px-1">Seja bem vindo!</h2>

                <p>Se você procura um lar de segurança, atenção, carinho, muuuita comida e bastante 
                felicidade para o seu pet, você está no lugar certo. Aqui realizamos todos os tipos 
                de serviços desejáveis, desde alguém que você precise que tome conta do seu pet bem 
                cuidadosamente por alguns dias ao ponto mais específico, que é uma consulta check-up 
                para colocar a saúde do seu melhor amigo em dia!!</p>

                <p>Somos uma empresa focada em trazer a melhor solução tanto para o pet quanto ao dono, 
                pois sabemos a dificuldade de hoje em dia e queremos trazer esse melhor conforto para 
                você, trabalhando principalmente com muito amor, pois nós amamos bichinhos!!
                </p>
                
                <p>Confira os nossos <span>Serviços</span> <a class="text-decoration-none click-me" href="/servicos">CLICANDO AQUI</a></p>
            
            </article>
        </section>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>