<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body class="bck-img">
    
    <%- include('../partials/header'); %>

    <main>

        <section class="blur">

            <article class="py-5 container" id="front-page">

                <h2 class="title prod">Produtos</h2>
                <div class="my-3">
                    <form action="">
                        <span class="text-light">Escolha a classe do seu produto</span>
                        <select name="select" id="opt">
                            <option value="1">Todos</option>
                            <option value="2">Cachorrinhos</option>
                            <option value="3">Gatinhos</option>
                        </select>
                    </form>
                </div>


                <div id="paizao">

                    <!-- All -->

                    <ul id="all" class="cs-hidden mt-4 autoWidth">
                        
                        <li class="item-a dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="1">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="#">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="#">R$ 0,00</a>
                                </div>
                            </div>

                        </li>

                        <li class="item-b dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="2">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-c dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="3">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>

                        </li>


                        <li class="item-d dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="4">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>                          
                        </li>

                        <li class="item-e dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="5">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-f dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="6">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-g dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="7">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-h dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="8">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-i cats">
                            
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/1.png" alt="1">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="#">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="#">R$ 0,00</a>
                                </div>
                            </div>

                        </li>

                        <li class="item-j cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/2.png" alt="2">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-k cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/3.png" alt="3">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>

                        </li>


                        <li class="item-l cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/4.png" alt="4">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>                          
                        </li>

                        <li class="item-m cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/5.png" alt="5">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-n cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/6.png" alt="6">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-o cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/7.png" alt="7">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-p cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/8.png" alt="8">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>
                    </ul>

                    <!-- dogs -->

                    <ul id="dogs" class="cs-hidden mt-4 autoWidth">
                        
                        <li class="item-a dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="1">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="#">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="#">R$ 0,00</a>
                                </div>
                            </div>

                        </li>

                        <li class="item-b dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="2">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-c dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="3">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>

                        </li>


                        <li class="item-d dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="4">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>                          
                        </li>

                        <li class="item-e dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="5">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-f dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="6">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-g dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="7">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-h dogs">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/dog-racao.PNG" alt="8">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>
                    </ul>


                        <!-- Cats -->

                        
                    <ul id="cats" class="cs-hidden mt-4 autoWidth">

                        <li class="item-i cats">
                            
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/1.png" alt="1">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="#">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="#">R$ 0,00</a>
                                </div>
                            </div>

                        </li>

                        <li class="item-j cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/2.png" alt="2">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-k cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/3.png" alt="3">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>

                        </li>


                        <li class="item-l cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/4.png" alt="4">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>                          
                        </li>

                        <li class="item-m cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/5.png" alt="5">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-n cats habilited">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/6.png" alt="6">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-o cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/7.png" alt="7">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-p cats">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/8.png" alt="8">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>
                  </ul>
                </div> 
            </article>
        </section> 
    </main>


    <%- include('../partials/footer'); %>

</body>
</html>
