<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>

<body class="bck-img">
    
    <%- include('../partials/header'); %>

    <main>

        <section class="blur">

            <article class="py-5 container" id="front-page">

                <h2 class="title prod">Produtos</h2>
                <div class="my-3">
                    <form action="">
                        <span class="text-light">Escolha a classe do seu produto</span>
                        <select name="select">
                            <option value="Todos" selected>Todos</option>
                            <option value="Cachorrinhos">Cachorrinhos</option>
                            <option value="Gatinho">Gatinhos</option>
                        </select>
                    </form>
                </div>
                    <ul id="autoWidth" class="cs-hidden mt-4">
                        
                        <li class="item-a">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/1.png" alt="1">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="#">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="#">R$ 0,00</a>
                                </div>
                            </div>

                        </li>

                        <li class="item-b">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/2.png" alt="2">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-c">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/3.png" alt="3">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>

                        </li>


                        <li class="item-d">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/4.png" alt="4">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>                          
                        </li>

                        <li class="item-e">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/5.png" alt="5">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-f">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/6.png" alt="6">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-g">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/7.png" alt="7">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="item-h">
                        
                            <div class="box">
                                <div class="slide-img">
                                    <img src="img/8.png" alt="8">
                                    <div class="overlay">
                                        <button class="buy btn btn-success">Comprar</button>
                                    </div>
                                </div>
                                <div class="detail-box">
                                    <div class="type">
                                        <a href="">NAME</a>
                                        <span>Alguma Coisa</span>
                                    </div>
                                    <a class="preço" href="">R$ 0,00</a>
                                </div>
                            </div>
                            
                        </li>
                      </ul>
                     
            </article>
        </section> 
    </main>


    <%- include('../partials/footer'); %>

</body>
</html>